# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
env/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
